.contacto__main--title{
    padding-top:10px;
}

.contacto__form--nombre{
    padding-top:20px;
}
.contacto__form--nombre, .contacto__form--apellido, .contacto__form--email, .contacto__form--telefono, .contacto__form--mensaje{
    padding: 10px 5px;
}

.contacto__form--mensaje{
    padding-bottom: 20px;
}

.contact__space{
    height:320px;
}
.contact__submit--button{
    margin-left:260px;
    padding:5px;
}