$greatpurple: rgb(65,7,108);

.main__content--index{
    display:grid;
    width: 100%;
    background-color: $greatpurple;
  }

@media(max-width: 800px){
    .main__content--index{
        grid-template-areas:
          "title title title title credit"
          "video video video video playing"
          "search search search search search"
          "filt filt filt filt filt"
          "results results results results results" 
          "selector selector qr qr play"
          ;
        grid-template-rows: 200px 200px 200px 200px 360px auto;
        grid-template-columns: repeat(5,1fr);
      }
}

@media(min-width:801px){
    .main__content--index{
        grid-template-areas:
          "title title title title credit"
          "video video playing search search"
          "video video playing filt filt"
          "results results results results results"
          ". visor visor visor ."
          "selector selector qr qr play"
          ;
        grid-template-rows: 200px 110px 90px 360px 100px auto;
        grid-template-columns: repeat(5,1fr);
      }

}

  .index__main--title{
    grid-area: title;
    padding-top:50px;
    height: 200px;


    h1{
        display:flex;
        justify-content:center;
        color:snow;
    }
   h5{
    display:flex;
    justify-content:center;
    padding-left:200px;
    color: snow;
   }

  }

  .index__main--balance{
    grid-area: credit;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 200px;
    color: snow;

  }

  .index__playing--video{
    grid-area: video;
    display:flex;
    box-sizing: border-box;
    justify-self: center;
    align-self:center;
  }

  @media(max-width:800px){
    .index__playing--video iframe{
        width: 227px;
        height: 128px;
    }

  }

  @media(min-width:801px){
    .index__playing--video iframe{
    width:315px;
    height:177px;
}
  }

  .index__playing--songdata{
    grid-area: playing;
    display: grid;
    grid-template-areas:
    "nowp nowp"
    "star songi";
    padding-top:25%;
    grid-template-rows:30% 30%;
    grid-template-columns: 1fr 4fr;
    color:snow;

  }

  .index__playing--nowp{
 grid-area: nowp;
 align-items:center;

  }

  .index__playing--star{
    grid-area: star;
    width:30px;
    height:30px;
  }
  #index__playing--artist{
    grid-area:songi;
    align-self:center;
.animate__animated.animate__backInRight {
    --animate-duration: 2s;
  }

  }

  .index__main--search{
    grid-area: search;

    p{
        color:snow;
    }
  }

.index__search--button{
    margin-left:10px;
    padding:5px;
    a{
        color:black;
        text-decoration:none;

    }
}

.index__search--lookup{
    display:flex;

}

    .index__search--filtericon{
        width:25px;
        height:25px;
    }

.index__filter{
    grid-area: filt;
    
}


.index__filter--flex{
    display: flex;

}


.tag {
    display: inline-block;
    padding: 4px;
    background-color: rgb(23,7,73);
    color:rgb(211, 204, 204);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
    margin-top:5px;
    font-size: 14px;

  }
  
  .tag .close {
    margin-left: 5px;
    cursor: pointer;
  }



/*Más excuchados*/

.index__main--results{
    grid-area: results;
    display:grid;
    grid-template-areas:
    "first-li first-li first-li first-li first-li"
    "flecha-l e1 e2 e3 flecha-r"
    ;
    grid-template-rows:55px 305px 100px;
    grid-template-columns: 11% 26% 26% 26% 11%;
    column-gap: 15px;
    background-color: rgb(65,7,108);

}

.results--firstli{
    grid-area:first-li;
    display:flex;
    justify-content:space-between;
    font-size:24px;
    color:snow;

}  

.results--title{
    padding:15px;
}

.results--viewicon img{
    width:25px;
    height:25px;
    margin-right:20px;
}

.results__elements--arrowl{
    grid-area:flecha-l;
    display:flex;
    justify-self:right;
    align-self:center;
   
}


.results__arrowl--img{
    width:35px;
    height:35px;
}

@mixin element-grid{
    display:grid;
    grid-template-areas:
    "song-image"
    "song-title"
    "song-artist"
    "song-year"
    "checkbox"
    ;
    grid-template-rows: 10fr 2fr 2fr 2fr 1fr;
}

/*Element 1*/

.results__elements--e1{
    grid-area:e1;
    display:grid;
    box-sizing: border-box;
    padding:5px 10px;
    background-image:linear-gradient(to bottom, black, rgb(57, 57, 57));

    @include element-grid;

}

$ancho: 200px;

@media(max-width:800px){
.elements--song-image{
    grid-area: song-image;

    img{
        width: 70px;
        height: 70px;
    }
}
}

@media(min-width:801px) and (max-width:1200px){
.elements--song-image{
    grid-area: song-image;

    img{
        width: 120px;
        height:120px;
    }
}
}

@media(min-width:1201px){
.elements--song-image{
    grid-area: song-image;

    img{
        width:200px;
        height:200px;
    }
}
}

.element__song-title{
    grid-area: song-title;
    color: snow;
}

.element__song-artist{
    grid-area: song-artist;
    color: snow;
}

.element__year{
    grid-area: song-year;
    color: snow;
}

.element__checkbox{
    grid-area: checkbox;
    display:flex;
    justify-content: right;
}

/*Element 2*/
.results__elements--e2{
    grid-area:e2;
    display:grid;
    background-image:linear-gradient(to bottom, black, rgb(57, 57, 57));
    box-sizing: border-box;
    padding:5px 10px;

    @include element-grid;


}
/*Element 3*/
.results__elements--e3{
    grid-area:e3;
    display:grid;
    background-image:linear-gradient(to bottom, black, rgb(57, 57, 57));
    box-sizing: border-box;
    padding:5px 10px;

    @include element-grid;

}

.results__elements--arrowr{
    grid-area: flecha-r;
    display:flex;   
    justify-self:left;
    align-self:center;
}
.results__arrowr--img{
    width:35px;
    height:35px;
}


/*Selector*/

.index__main--selector{
    grid-area: selector;
    display:flex;
}

.index__selector--container{
    display:grid;
    height: 200px;
    width: 250px;
    justify-self: center;
    align-self: center;
    grid-template-areas:
    "legend legend legend"
    "option-1 toggle option-2"
}

.index__selector--legend{
    grid-area: legend;
    color:snow;
    justify-self: center;
    align-self:center;
}

.selector__option--1{
    grid-area: option-1;
    color: snow;
    justify-self: center;

}


.switch{
    grid-area: toggle;
    justify-self: center;

}

.selector__option--2{
    grid-area: option-2;
    color: snow;
    justify-self: center;

}

main .selector div .toggle-selector{
width: 180px;
display:flex;
justify-content: space-evenly;
align-items: center;
color: snow;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(211, 204, 204);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(65,7,108);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgb(211, 204, 204);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(211, 204, 204);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*QR scan*/
  .index__main--qr{
    height: 200px;
    width: 200px;
    grid-area: qr;
    display:flex;
    padding-top:60px;
    
  }



  
.index__qr--img{
grid-area: qr-img;
justify-items:center;
align-items:center;
display:flex;

img{
    height:80px;
    width:80px;
    justify-items:center;
    padding:10px;
}
}
.index__qr--text{
    color: snow;
    padding: 10px;

}

/*Play section*/

.index__main--play{
    grid-area: play;
    display:flex;
    
    img{
        justify-self:center;
        align-self: center;
        height:120px;
        width:120px;

    }
}