.ingreso__main--title{
    padding-top: 20px;
    padding-left:10px;
}
.ingreso__form--email{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left:10px;

}
.ingreso__form--password{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:10px;

}

.ingreso__login--forgot{
    padding-top:5px;
    padding-left:10px;
}

.ingreso__login--button{
    margin-left: 240px;
    padding:5px;
}
.ingreso__space{
    height:320px;
}